@{
    ViewBag.PageTitle = "Randevu İşlemleri";
    ViewBag.PageDesc = "Randevu ekle, güncelle veya sil";
}

<div class="col-12" id="AppointmentsList">

</div>
<script src="~/js/Pages/Appointments.js"></script>
