@{
    ViewBag.PageTitle = "Hizmet İşlemleri";
    ViewBag.PageDesc = "Hizmet ekle, güncelle veya sil";
}

<div class="col-12" id="ServicesList">

</div>
<script src="~/js/Pages/Services.js"></script>
