@{
    ViewBag.PageTitle = "Hizmet İşlemleri";
    ViewBag.PageDesc = "Hizmet ekle, güncelle veya sil";
}

<div class="col-12" id="SessionsList">

</div>
<script src="~/js/Pages/Sessions.js"></script>
