<a href="/" class="brand-logo d-none d-sm-block" style="float: left;">
    <img alt="MSH Medya Web Admin Panel v2 | Randevu Sistemi" src="~/image/Logo.png" style="width: 160px; margin-top: 10px;" />
</a>