@{
    ViewBag.PageTitle = "Müşteri İşlemleri";
    ViewBag.PageDesc = "müşteri ekle, güncelle veya sil";
}

<div class="col-12" id="CustomersList">

</div>
<script src="~/js/Pages/Customers.js"></script>
