@{
    Layout = null;
}
<html>
<head>


    <!-- Stylesheets -->

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- Color Switcher Mockup -->





    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">



</head>

<body class="hidden-bar-wrapper">

    <div class="page-wrapper">
        <!--Error Section-->
        <section class="error-section">
            <div class="auto-container">
                <div class="content">
                    <h1>404</h1>
                    <h2>Oops! Sayfa bulunamadı!</h2>
                    <div class="text">Üzgünüz, Böyle bir sayfanın olduğuna emin misin?</div>
                    <a href="/Home" class="theme-btn btn-style-three"><span class="txt">Anasayfaya Dön</span></a>
                </div>
            </div>
        </section>
        <!--End Error Section-->
        <!-- Main Footer -->


    </div>


</body>
</html>