@{
    ViewBag.PageTitle = "Personel Hizmet İşlemleri";
    ViewBag.PageDesc = "Personel Hizmeti ekle, güncelle veya sil";
}

<div class="col-12" id="StaffSessionsList">

</div>
<script src="~/js/Pages/StaffSessions.js"></script>
